@font-face {
    font-family: ReithSans;
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2);
}
@font-face {
    font-family: ReithSans;
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff2);
    font-weight: bold;
}
@font-face {
    font-family: ReithSerif;
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Md.woff2);
}

.contentcentering{
    max-width: 1248px;
    margin: auto;
    /* outline:black 1px solid; */
    height:64px;
}

.alignleft{
    float:left;
}
h1, h2, h3, h4, h5, h6, body, html, a, p, div, ul, li, br, form, img, head {
	margin: 0;
	padding: 0;
    
}
body{
    background-color:#00e5ff78; 
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color:black;
}
.clearfloats{
    clear:both;
}


#thetopribbon{
    height:64px;
    width:100%;
    background-color:white;
    font-family: Reithsans, Arial, Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    float:left;
}
#ribbonitems{
    padding-left:16px;
    padding-right:16px;
}

.ribbonitem{
    height:64px;
    /* outline:black 1px solid; */
    width:44.6667px;
    background-color:white;
    text-align:center;
    float:left;
}
#thetopribbon p,img{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

#bbclogo{
    /* outline:black 1px solid; */
    height:64px;
    width:112px;
    position: relative;
    padding-right: 20px;
    margin-right:2px;
    float:left;
}

#bbclogo img{
    width:112px;
    float:left;
}
#signinlogo{
    width:28px;
    height:28px;
    margin-right:6px;
    float:left;
}


/********************Top Ribbon Item styling*********************************/
#ribitmsignin{
    width:193px;
    height:64px;
    text-align: left;
    float:left;
}
#ribitmHome{
    width:44.6667px;
}
#ribitmNews{
    width:41.75px;
}
#ribitmSport{
    width:42.6333px;
}
#ribitmReel{
    width:35.4667px;
}
#ribitmWorklife{
    width:61.2333px;
}
#ribitmTravel{
    width:46.25px;
}
#ribitmFuture{
    width:48.7px;
}
#ribitmCulture{
    width:54.0333px;
}
#ribitmMore{
    width:48px;
    margin-right: 11px;
    float:left;
}
#ribitmSearch{
    width:224px;
    /* outline:black 1px solid; */
    float:left;
}
/********************Top Ribbon Item styling*********************************/
#toplinks{
    width:638px;
    height:64px;
    float:left;
}
#toplinks div{
    width:79.75px;
    height:64px;
}

/********************Hover Stylings for Items*********************************/
#ribitmsignin:hover{
    border-bottom: #0178FF 1px;
}
/********************Hover Stylings for Items*********************************/